Hi firstName , {{ user.full_name }}<br>
<br>
If you've lost your password and wish to reset it, use the link below to get started.<br>
<br>
<a href="{{ protocol }}://{{ domain }}/password/reset/confirm/{{ uid }}/{{ token }}/" style="cursor: pointer; text-decoration: none" target="_blank">Reset Password</a><br>
<br>
If you did not request a password reset, you can safely ignore this email. Only a person with access to your email can reset your account password.<br>
<br>
Sent by your friends at Chowtime! with ❤️ from Hong Kong.