Hi, {{ user.full_name }}!<br>
<br>
Welcome to Chowtime! Thanks for registering an account with us. We'll have you up and running with beautiful digital menus in no time! Just verify your email address below to get started.<br>
<br>
<a href="{{ protocol }}://{{ domain }}/activate/{{ uidb64 }}/{{ token }}/" style="cursor: pointer; text-decoration: none" target="_blank">Verify Email</a><br>
<br>
If you did not create a Chowtime! account with this email address, please contact us at help@itschowtime.com.<br>
<br>
Sent by your friends at Chowtime! with ❤️ from Hong Kong.